<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <javaScriptServices>
      <apps>
        <app name="ionic4"
             deploymentSecret="l94g2b1f9ntjqqca6dvo3pjol42vzp691sznp5lvcm"
             debugSecurity="false"
        />
      </apps>
    </javaScriptServices>
  </sitecore>
</configuration>
